.form-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(141, 141, 141, 0.699);
    width: 35%;
    padding-bottom: 1.5rem;
    border-radius: 12px;
    margin-bottom: 2rem;
    transition: 1s;
    box-shadow: 5px 11px 25px 0px rgba(0, 0, 0, 0.33);
}

.form-container button {
    margin-left: 1.5rem;
    border: none;
    padding: .5rem;
    background-color: rgba(0, 0, 0, 0.39);
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition: .8s ease-in-out;
    border-radius: 6px;
}

.form-container button:hover {
    background-color: rgba(63, 1, 1, 0.575);
    
}

.search-btn {
    outline: none;
    border: none;
    padding: .35rem;
    border-radius: 4px;
}

.label {
    padding-right: .7rem;
    color: #FFF;
}

.main-title{
    color: #FFF;
    font-weight: 600;
}
.container-buscador {
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    
}

.movie-list a {
    color: #FFF;
    text-decoration: none;
    
    align-items: center;
    color: black
}
.movie-list{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem; 
    transition: 2s;
    
    
}

.movies-list {
    list-style: none;
    width: 50%;
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 167, 202);
    color: black;
    border-radius: 12px;
    margin: .5rem;
    box-shadow: 5px 11px 25px 0px rgba(0, 0, 0, 0.39);
    
}

.fav-btn-container {
    margin-left: 2rem;
}