.navbar {
    position:relative;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.navbar nav {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
    font-size: 16px;
}

.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    gap: 1rem;
    text-align: center;
    
    
}

.list-item a {
    color: white;
    height: 100%;
    padding: .6rem;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.39);
    min-width: 4rem;
    transition: .8s ease-in-out;
    
}

.list-item a:hover,
.list-item a.active {
    
    background-color: rgba(240, 255, 255, 0.247);

}